* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main-color:#FFF;
  --second-color: #21092f;
  --font-color: #21092F;
  --second-font-color: #8F8694;
  --gradient: linear-gradient(163.95deg, #6348FE 4.74%, #610595 88.83%);
  --font-family:  'Space Grotesk', sans-serif;
  --shadow: 0px 39px 60px 0px #00000024;
}

body {
  font-size: 16px;
  font-family: var(--font-family);
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.App {
  width: 100vw;
  height: 100vh;
  background: var(--main-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

header {
  height: 15rem;
  width: 100%;
  background: url('./assets/bg-main-mobile.png') no-repeat;
  background-size: cover;
  padding: 2rem 1rem 1rem;
  color: var(--main-color);
  display: flex;
  justify-content: center;
  position: relative;
  margin-bottom: 5.6875rem;
}

.header--cards_image_container {
  margin-top: 1rem;
  width: 21.4375rem;
  
}

/* @ media for .head--cards_image_container max-width: 33.8125rem; */

.header--image_container_back,
.header--image_container_front {
  height: 9.8125rem;
  width: 17.8125rem;
  object-fit: cover;
}

.header--image_container_back {
  width: 16.625rem;
  margin-left: auto;
}

.header--security_numbers {
  position: relative;
  bottom: 5.6rem;
  left: 13.5rem;
  font-size: 0.5625rem;
  line-height: 0.6875rem;
  letter-spacing: 1.29px;
}

.header--image_container_front {
  position: relative;
  bottom: 4.29rem;
  left: 0.8rem;
}
.header--card_back,
.header--card_front {
  width: 100%;
  height: 100%;
}

.header--circle_large,
.header--circle_small{
  background: var(--main-color);
  position: absolute;
  
}

.header--circle_large {
  height: 1.875rem;
  width: 1.875rem;
  border-radius: 50%;
  bottom: 7rem;
  left: 1.8rem;
}

.header--circle_small {
  height: 0.8125rem;
  width: 0.8125rem;
  border: 1px solid var(--main-color);
  border-radius: 50%;
  background: transparent;
  bottom: 7.5rem;
  left: 4.5rem;
}

.header--card_info_container {
  position: absolute;
  bottom: 1rem;
  left: 1.1875rem;
}

.header--card_numbers {
  font-size: 1.125rem;
  line-height: 1.4375rem;
  letter-spacing: 2px;
  font-weight: 500;
}

.header--card_name_and_expiration_date_container {
  display: flex;
  align-items: center;
  margin-top: 1.0625rem;
  font-size: 0.5625rem;
  line-height: 0.6875rem;
  letter-spacing: 1.29px;
}

.header--card_name {
  margin-right: 7.75rem;
  text-transform: uppercase;
}

/* Form */

form {
  display: flex;
  flex-direction: column;
  width: 20.4375rem;
  margin-inline: auto;
}
label {
  text-transform: uppercase;
  margin-bottom: 0.5625rem;
}

label:not(:first-of-type) {
  margin-top: 1.25rem;
}

.form--exp_container input{
  margin-top: 9px;
}
input {
  height: 2.8125rem;
  border-radius: 0.5rem;
  border: 1px solid #DFDEE0;
}

input:placeholder-shown,
input {
  text-indent: 1rem;
  font-size: 1.125rem;
  font-family: var(--font-family);
}

.form--name_input,
.form--card_number_input {
  width: 20.4375rem;
}

.form--month_input,
.form--year_input {
  width: 4.5rem;
}

.form--cvc_input {
  width: 10.25rem;
}

.form--exp_container {
  display: flex;
  justify-items: center;
}

.form--exp_container div {
  margin-top: 1.25rem;
}

.form--exp_container div:not(:last-of-type) {
  margin-right: 10px;
}